exchange_calendars==4.5.6
jproperties==2.1.2
korean-lunar-calendar==0.3.1
narwhals==1.41.0
numpy==1.25.2
packaging==25.0
pandas==2.2.3
pandas_market_calendars==5.1.0
pandas_ta==0.3.14b0
plotly==6.1.2
pyluach==2.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
ta==0.11.0
toolz==1.0.0
tqdm==4.67.1
tzdata==2025.2
